* {
    background-color: aqua;
}

.discographyContainer{
height: 100vh;
}

.albumContainer{

}

.albumTitle{
    display: flex;
    justify-content: center;
}

.albumYear{
    display: flex;
    justify-content: center;
}

.albumCover{
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 100%;
        max-height: 100%;
}
